<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/digu</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/Hibernate/user.hbm.xml"/>
    <mapping resource="com/Hibernate/bar.hbm.xml"/>
    <mapping resource="com/Hibernate/chat.hbm.xml"/>
     <mapping resource="com/Hibernate/msg.hbm.xml"/>
      <mapping resource="com/Hibernate/pic.hbm.xml"/>
       <mapping resource="com/Hibernate/post.hbm.xml"/>
        <mapping resource="com/Hibernate/reply.hbm.xml"/>
         <mapping resource="com/Hibernate/star_bar.hbm.xml"/>
          <mapping resource="com/Hibernate/star_user.hbm.xml"/>
           <mapping resource="com/Hibernate/teacher.hbm.xml"/>
    <mapping/>
  </session-factory>
</hibernate-configuration>
