body {
    background-color: rgb(38,38,38);
    font-family: "微软雅黑","宋体",Arial;
    font-size: 1.4em;
    line-height: 26px;
}
.form-group {
    padding-left: 25px;
    padding-right: 25px;
}

.input-group-addon, .form-control {
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 0;
    box-shadow: 0 0 0 #ffffff;
}

.title{
	background-image:url(../img/logo_title.jpg);
	-webkit-background-size: 1250px 160px;
}


.footer-log {
    color: rgb(157,157,157);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.footer-log a {
    color: rgb(157,157,157);
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1.5px solid rgb(157,157,157);
}

.footer-log a:hover{
    color: #fff;
    text-decoration: none;
}


.content{
    margin-top: 180px;
    margin-bottom: 180px;
}

h2{
    text-align: center;
    color: rgb(157,157,157);
}

hr{
    border: 1px solid gray;
}

.message-content{
    color: #777;
}